
.check-table {
  font-size: 13px;
}
.check-table > table {
  border-spacing: 0;
}
.check-table > table > tbody > tr.check-table-locked {
  background-color: #fafafa;
}

.check-table > table > thead > tr > td {
  padding: 5px 8px;
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #e0e0e0;
  /*
  font-family: Helvetica, sans-serif !important;
  */
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
.check-table > table > thead > tr > td:first-of-type {
  border-right: 1px solid #a0a0a0;
}
.check-table > table > thead > tr > td:last-of-type {
  border-right: 0;
}

.check-table > table > tbody > tr:hover {
  cursor: pointer;
  background-color: #c5dbec;
}

.check-table > table > tbody > tr.check-table-locked:hover {
  cursor: default;
  background-color: #fafafa;
}
.check-table > table > tbody > tr.check-table-locked[data]:hover:after {
  content: attr(data);
  padding: 8px;
  color: #000000;
  position: absolute;
  left: -20;
  top: -60;
  white-space: pre;
  max-width: 520px;
  z-index: 2;
  border-radius: 3px ;
  background-color: lemonchiffon;
  font-weight: normal;
  font-size: 11px;
}

.check-table > table > tbody > tr > td.check-table-selector > div.check-table-locker {
  display: none;
}
.check-table > table > tbody > tr.check-table-locked > td.check-table-selector > div.check-table-locker {
  display: block;
}

.check-table > table > tbody > tr > td {
  padding: 5px 8px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  /*
  font-family: Helvetica, sans-serif !important;
  */
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}
.check-table > table > tbody > tr > td:first-of-type {
  border-right: 1px solid #a0a0a0;
}
.check-table > table > tbody > tr > td:last-of-type {
  border-right: 0;
}
.check-table > table > tbody > tr:last-child > td {
  border-bottom: 0;
}

div.check-table-toggler {
  width:8px;
  height:8px;
}
div.check-table-toggler-on {
  background-color:red;
}

