#hdf5-config {
    padding: 20px;
}
#hdf5-config .hdf5-notes {
    max-width:      680px;
    font-size:      12px;
}

#hdf5-config > #tabs {
    font-size:      12px;
}
#hdf5-config > #tabs .tab-body {
    padding:        10px;
    padding-left:   20px;
    padding-bottom: 20px;
    border:         solid 1px #b0b0b0;
    font-size:      11px;
}
#hdf5-config > #tabs > #translator > .tab-body > .table-ctrl .buttons {
    padding-top:    10px;
}
#hdf5-config > #tabs > #translator > .tab-body > #config {
    margin-top:     10px;
    padding-left:   10px;
}

#hdf5-config .hint {
    padding-top:    4px;
    color:          maroon;
}
#hdf5-config .info {
    color:          maroon;
}