<IfModule mod_php5.c>
  php_value include_path ".:/var/www/html/apps-dev"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteOptions inherit
  RewriteBase /apps-dev
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  #RewriteRule authdb/([^\/]+)[\/]?$ authdb/index.php?action=$1 [L,R=permanent]
  #RewriteRule authdb/([^\/]+)/([^\/]+)[\/]?$ authdb/index.php?action=$1&$2 [C,R=permanent]

  RewriteRule (authdb)/(manage_my_groups)[\/]?$ $1/index.php?action=$2 [L]

  # This rule would support simple requests with one parameter
  # representing an action:
  #
  #   application/action[/]
  #
  #RewriteRule ([^\/]+)/([^\/]+)[\/]?$ $1/index.php?action=$2 [L]

  # These "chained" rules are m,eant to be used for more complex queries with
  # one additonal parameter to the action:
  #
  #   application/action/parname[=value][/]
  #
  #RewriteRule ([^\/]+)/([^\/]+)/([^\/]+)[\/]?$ authdb/index.php?action=$1&$2 [L,C]

  # This rule will preserve file names of attachments so that they'll show
  # up correctly in URLs.
  #
  #   logbook/attachments/<id>/<file>
  #
  RewriteRule (logbook)/attachments/(\d+)/(.+)$ $1/ShowAttachment.php?id=$2 [L]

</IfModule>
