.datatable-disp {
    padding:    20px 20px 10px 30px;
    overflow:   auto;
}
.datatable-disp > table {
    overflow:   auto;
    border-spacing: 0;
    font-size:  12px;
}
.datatable-disp > table td {
    border-right:   solid 1px #d0d0d0 ;
    padding-top:    4px;
    padding-bottom: 2px;
    padding-left:   8px;
    padding-right:  8px;
}
.datatable-disp > table > thead td {
    border-bottom:  solid 1px #a0a0a0 ;
    font-weight:    bold;
}
.datatable-disp > table > thead td:first-child {
    text-align:     center;
}
.datatable-disp > table td:last-child {
    border-right:   0 ;
}
.datatable-disp > table > tbody > tr:hover {
    background-color:   aliceblue;
}