#runtables-user {
  padding: 0;
}

#runtables-user > #tabs {
  padding: 0;
  background: 0;
  font-size: 11px;
}

#runtables-user > #tabs > ul {
  background: #f5f8f9; // #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
}
#runtables-user > #tabs > ul > li {
  border-radius: 0 !important;
}

#runtables-user > #tabs #ctrl {
  padding: 20px 10px 0px 20px;
  //background-color: #ffffff;
  font-size: 12px;
}

#runtables-user > #tabs #ctrl > .buttons {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
#runtables-user > #tabs .update-button img {
    width:          11px;
}
#runtables-user > #tabs button {
  color: #000000;
  font-size: 11px;
}
#runtables-user > #tabs button.delete span,
#runtables-user > #tabs button[name="create"] span {
  color: red;
}

#runtables-user > #tabs #ctrl > .group {
  float: left;
  margin-right: 10px;
}

#runtables-user > #tabs #ctrl > .group > p {
  max-width: 720px;
  margin: 0;
  padding-bottom: 10px;
}
#runtables-user > #tabs #ctrl > .group span.label {
  display: inline;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
}
#runtables-user > #tabs #ctrl > .group input {
  display: inline;
  margin-bottom: 5px;
  margin-right: 10px;
}

#runtables-user > #tabs #ctrl > .group textarea {
  display: inline;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 2px;
  border: solid 1px #ffffff;
}
#runtables-user > #tabs #ctrl > .group textarea:hover {
  border: solid 1px #d0d0d0;
}
#runtables-user > #tabs #ctrl > .group textarea[name="readonly_descr"] {
  width: 743px;
  background-color: inherit;
}

#runtables-user > #tabs #body {
  padding: 10px 10px 10px 20px;
  background-color: #ffffff;
  font-size: 12px;
}
#runtables-user > #tabs #ctrl > .group span.comment {
  display: inline-block;
  max-width: 172px;
  color: maroon;
}

#runtables-user > #tabs #body > #table {
  margin-top: 5px;
}
#runtables-user #tabs #table input {
  border: solid 1px #ffffff;
  width: 100%;
}

#runtables-user #tabs #table input.modified {
  background-color: #ffeeee;
}

#runtables-user #tabs #ctrl {
  padding-bottom: 20px;
  background: #f5f8f9;
}

#runtables-user #tabs .ui-tabs {
  padding: 0;
  background: 0;
  font-size: 11px;
}
#runtables-user #tabs .ui-tabs > ul {
  background: #f5f8f9; // #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
}
#runtables-user #tabs .ui-tabs > ul > li {
  border-radius: 0 !important;
}
#runtables-user #tabs .ui-tabs > #config,
#runtables-user #tabs .ui-tabs > #preview {
  padding: 0px 10px 0px 20px;
  background-color: #ffffff;
  font-size: 12px;
}
#runtables-user #tabs .ui-tabs > #preview {
  padding-top: 20px;
}
#runtables-user #tabs .ui-tabs > #preview input {
  border: solid 1px #ffffff;
  width: 100%;
}

#runtables-user #tabs .ui-tabs #initial-columns {
  margin-top: 10px;
}

#runtables-user > #tabs #table_ctrl {
  margin-top: 15px;
}
#runtables-user > #tabs #table_ctrl span {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

#runtables-user #tabs .ui-tabs table.columns {
  margin-top: 15px;
  border: 0;
  border-collapse: separate;
  border-spacing: 0px;
  //box-shadow: 0 5px 10px rgba(0,0,0,0.36);
}
#runtables-user #tabs .ui-tabs table.columns * {
  font-family: Verdana !important;
}
#runtables-user #tabs .ui-tabs table.columns > thead td {
  padding: 3px 8px;
  border-right: 1px solid #c0c0c0;
  border-bottom: 2px solid  #0a0a0a;
  font-weight: bold;
  white-space: nowrap;
}
#runtables-user #tabs .ui-tabs table.columns > thead > tr > td:first-child {
  border-left: 0;
}
#runtables-user #tabs .ui-tabs table.columns > thead > tr > td:last-child {
  border-right:0;
}

#runtables-user #tabs .ui-tabs table.columns > tbody tr:last-child td {
  border-bottom: 0;
}

#runtables-user #tabs .ui-tabs table.columns > tbody td {
  padding: 5px 8px;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid  #c0c0c0;
}
#runtables-user #tabs .ui-tabs table.columns > tbody > tr > td:first-child {
  border-left: 0;
}
#runtables-user #tabs .ui-tabs table.columns > tbody > tr > td:last-child {
  border-right:0;
}

#runtables-user #tabs .ui-tabs table.columns > tbody td button {
  font-size: 9px;
}
#runtables-user #tabs .ui-tabs table.columns > tbody td input,
#runtables-user #tabs .ui-tabs table.columns > tbody td select {
  border: solid 1px #ffffff;
  width: 100%;
}
#runtables-user #tabs .ui-tabs table.columns > tbody td input:hover,
#runtables-user #tabs .ui-tabs table.columns > tbody td select:hover {
  border: solid 1px #d0d0d0;
}

#runtables-user .info {
  color: maroon;
}

#runtables-user a.link {
    text-decoration:    none !important;
    font-weight:        bold !important;
    color:              #0071bc !important;
}
