#
# Example configuration file for running myana_opal analysis 
# module from pyana_examples/src directory. 
#

# "pyana" section:
#  Defines options/parameters for pyana itself 
[pyana]
modules = pyana_examples.myana_opal

#  Defines module-specific parameters. pyana_examples.myana_opal
[pyana_examples.myana_opal]
address = XppEndstation-0|Opal1000-0
