#equipment-inventory {
    padding:        20px;
}

#equipment-inventory > #controls {
}
#equipment-inventory > #controls > #form {
    margin-right:   20px;
}
#equipment-inventory > #controls > #form td.form-table-val {
    padding-right:   10px;
}
#equipment-inventory > #updated-info {
    margin-top:     20px;
}
#equipment-inventory > #updated-info .info {
    color:          maroon;
}

#equipment-inventory > #tabs {
    font-size:      12px;
}
#equipment-inventory > #tabs .tab-cont {
    border:         solid 1px #b0b0b0;
    padding:        15px;
}
#equipment-inventory > #tabs > #results #controls {
    margin-bottom:  5px;
}
#equipment-inventory > #tabs .tab-cont.history > .table {
    margin-right:   20px;
}
#equipment-inventory > #tabs .tab-cont.history .events {
    margin-top:     10px;
    margin-left:    10px;
}
#equipment-inventory > #tabs > #results > .tab-cont > .view-visible {
    display:        block;
}
#equipment-inventory > #tabs > #results > .tab-cont > .view-hidden {
    display:        none;
}