

#datafiles-xtchdf5 {
  padding: 10px;
}

#datafiles-xtchdf5 .info {
  color: maroon;
}

#datafiles-xtchdf5 > #ctrl {
  margin-bottom: 15px;
  font-size: 12px;
}

#datafiles-xtchdf5 > #ctrl span.label  {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}
#datafiles-xtchdf5 > #ctrl input[type="text"] ,
#datafiles-xtchdf5 > #ctrl select  {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
}

#datafiles-xtchdf5 > #ctrl input[name="runs"] {
  width: 100%;
}

#datafiles-xtchdf5 > #ctrl .group {
  float: left;
  margin-right: 20px;
}
#datafiles-xtchdf5 > #ctrl .buttons {
  margin-left: 20px;
  padding-top: 17px;
}
#datafiles-xtchdf5 > #ctrl .buttons button[name="update"] img {
    width:          11px;
}

#datafiles-xtchdf5 > #body {
  margin-left: 20px;
}

#datafiles-xtchdf5 > #body > #info {
    font-size:  18px;
}

#datafiles-xtchdf5 > #body > #ctrl {
  margin-top: 10px;
}

#datafiles-xtchdf5 > #body > #ctrl #quota-usage {
  position: fixed;
  right: 10px;
  top: 220px;

  z-index: 1;
  
  padding: 5px;

  border: 1px solid #0071BC;

  font-size: 18px;
  color: #0071BC;

  opacity: 0.4;
  filter: alpha(opacity=40);

  box-shadow: 0 5px 10px rgba(0,0,0,0.36);
}
#datafiles-xtchdf5 > #body > #ctrl #quota-usage:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  background: #ffffff;
}

#datafiles-xtchdf5 > #body > #ctrl span.label {
  margin-right: 5px;
}
#datafiles-xtchdf5 > #body > #ctrl input {
  margin-top: 10px;
  margin-right: 5px;
}

#datafiles-xtchdf5 > #body > #viewer {
  margin-top:10px;
}
#datafiles-xtchdf5 > #body > #viewer * {
  font-family: Verdana !important;
}

#datafiles-xtchdf5 > #body > #viewer .table-cont {
  padding: 20px;
  padding-top: 15px;
  padding-right: 10px;
}

#datafiles-xtchdf5 > #body > #viewer table.files {
  border: 0;
  border-spacing: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.36);
}

#datafiles-xtchdf5 > #body > #viewer table.files > thead td {
  padding: 3px 5px;
  background: #d0d0d0;
  border: 1px solid #ffffff;
  border-right-color: #0a0a0a;
  border-bottom-color: #0a0a0a;
  font-weight: bold;
  white-space: nowrap;
}
#datafiles-xtchdf5 > #body > #viewer table.files > thead > tr > td:first-child {
  border-left-color: #d0d0d0;
}
#datafiles-xtchdf5 > #body > #viewer table.files > thead > tr > td:last-child {
  border-right-color: #d0d0d0;
}






#datafiles-xtchdf5 > #body > #viewer table.files > tbody td {
  padding: 3px 5px;
  border-right: 1px solid #e0e0e0;
  font-family: Helvetica, sans-serif !important;
  white-space: nowrap;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr > td:last-child {
  border-right: 0;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr.first-in-class > td {
  border-top: 1px solid #e0e0e0;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr.run-header > td {
  border-top: 1px solid #a0a0a0;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr:first-child.run-header > td {
  border-top: 0;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr.HDF5 {
  background: #fcfce4;
}
#datafiles-xtchdf5 > #body > #viewer table.files > tbody > tr.HDF5 > td:first-child {
  background: #ffffff;
}