@CHARSET "ISO-8859-1";

#hdf-manage-ctrl,
#hdf-history-ctrl {
  width: inherit;
  padding: 10px 10px 10px 10px;
  background-color:#f0f0f0;
}
#hdf-manage-wa,
#hdf-history-wa {
  width: inherit;
  padding: 10px 20px 10px 20px;
  border-top: solid 1px #c0c0c0;
}
.hdf-info {
  margin-bottom:10px;
  color:maroon;
}

.hdf-manage-run {
  background-color:#e0e0e0;
}
.hdf-manage-xtc-files {
  background: #DFEFFC url(/jquery/css/custom-theme/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
}