#hdf5-manage {
  padding: 10px;
}

#hdf5-manage .info {
  color: maroon;
}

#hdf5-manage > #ctrl {
  margin-bottom: 15px;
  font-size: 12px;
}

#hdf5-manage > #ctrl span.label  {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}
#hdf5-manage > #ctrl input[type="text"] ,
#hdf5-manage > #ctrl select  {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
}

#hdf5-manage > #ctrl input[name="runs"] {
  width: 100%;
}

#hdf5-manage > #ctrl .group {
  float: left;
  margin-right: 20px;
}
#hdf5-manage > #ctrl .buttons {
  margin-left: 20px;
  padding-top: 17px;
}

#hdf5-manage > #body {
  margin-left: 20px;
}

#hdf5-manage > #body > #ctrl {
  margin-top: 15px;
}
#hdf5-manage > #body > #ctrl > div {
  display: inline-block;
  margin-right: 30px;
}
#hdf5-manage > #body > #ctrl span {
  margin-left: 10px;
}

#hdf5-manage > #body > #viewer {
  margin-top: 15px;
}

#hdf5-manage > #body > #viewer * {
  font-family: Verdana !important;
}

#hdf5-manage > #body > #viewer table.requests {
  border: 0;
  border-spacing: 0px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.36);
}

#hdf5-manage > #body > #viewer table.requests > thead td {
  padding: 3px 5px;
  background: #d0d0d0;
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid  #0a0a0a;
  font-weight: bold;
  white-space: nowrap;
}
#hdf5-manage > #body > #viewer table.requests > thead > tr > td:first-child {
  border-left: 1px solid #d0d0d0;
}
#hdf5-manage > #body > #viewer table.requests > thead > tr > td:last-child {
  border-right: 1px solid #d0d0d0;
}

#hdf5-manage > #body > #viewer table.requests > tbody td {
  padding: 3px 5px;
  border-right: 1px solid #e0e0e0;
  font-family: Helvetica, sans-serif !important;
  white-space: nowrap;
}
#hdf5-manage > #body > #viewer table.requests > tbody td:last-child {
  border-right: 0;
}
#hdf5-manage > #body > #viewer table.requests > tbody > tr.run-header > td {
  border-top: 1px solid #a0a0a0;  //#0a0a0a; #0071BC;
  background: rgba(240, 248, 255, 0.39); //aliceblue;
}
#hdf5-manage > #body > #viewer table.requests > tbody > tr:first-child.run-header > td {
  border-top: 0;
}

#hdf5-manage > #body > #viewer table.requests > tbody > tr.run-header > td:first-child {
  background: #ffffff;
}

#hdf5-manage > #body > #viewer table.requests > tbody > tr.first-in-class > td:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

#hdf5-manage > #body > #viewer table.requests > tbody > tr.hdf5 {
  background: #fcfce4; //aliceblue;
}

#hdf5-manage > #body > #viewer table.requests > tbody > tr.hdf5 > td:first-child {
  background: #ffffff;
}

#hdf5-manage > #body > #viewer table.requests > tbody td button span {
  font-size: 9px !important;
}