#runtables-epics {
  padding: 0;
}
.runtables-epics-ctrl {
  width: inherit;
  padding: 10px 10px 10px 10px;
}
.runtables-epics-ctr tr { font-size: 12px; }

.runtables-epics-wa {
  width: inherit;
  padding: 10px 20px 10px 20px;
  border-top: solid 1px #c0c0c0;
}
.runtables-epics-body {
  font-size: 11px;
}
.runtables-epics-body-tab-cont {
  border: 1px solid #c0c0c0;
  padding: 20px;
}
.runtables-epics-body-tab-cont tr { font-size: 12px; }

.runtables-epics-info {
  margin-bottom:10px;
  color:maroon;
}