
.prop-list {
  font-size: 13px;
}
.prop-list > table {
  border-spacing: 0;
}
.prop-list > table > tbody > tr > td {
  padding: 5px 8px;
  border-bottom: 1px solid #e0e0e0;
  /*
  font-family: Helvetica, sans-serif !important;
  */
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}
.prop-list > table > tbody > tr > td.prop-list-name {
  border-right: 1px solid #e0e0e0;
  font-weight: bold ;
  white-space: nowrap;
}
.prop-list > table > tbody > tr:last-child > td {
  border-bottom: 0;
}
.prop-list > table > tbody > tr > td.prop-list-value-editing {
  padding: 3px 6px;
}
.prop-list > table > tbody > tr > td.prop-list-value-editing:hover {
  cursor: pointer;
  background: aliceblue !important;
}
.prop-list > table > tbody > tr > td.prop-list-value-editing > input {
  border: solid 1px #ffffff;
  /*width: 100%;*/
  padding: 2px;
}
.prop-list > table > tbody > tr > td.prop-list-value-editing > input:hover {
  border: solid 1px #a0a0a0;
}